body {
	background-color: #D1CFCC;
	font-family: "Circular Std";
	font-size: 14px;
	color: #7F7F7F;
}

h1 {
	font-size: 72px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Alte Haas Grotesk";
}

.page-header {
	border: 0;
}

.entry-title {
	color: #FFFFFF;
	font-family: "Alte Haas Grotesk";
}

.image-description {
	font-family: "Circular Std";
}

.brm-gallery {
	img {
		max-width: 100%;
	}
}

.production {
	display: none;
}